label ng-if="label" {{ label }}
div
.input-group
  input.form-control [
    close-text="Close"
    is-open="date_opened"
    ng-model="model"
    ng-change="selectDate(model)"
    type="text"
    uib-datepicker-popup="dd.MM.yyyy"
  ]

  span.input-group-btn
    button.btn.btn-default ng-click="open()" type="button"
      span.glyphicon.glyphicon-calendar
