.thumb-md.avatar.pull-right.margin-top-10
  img.img-circle src="{{ imgName }}"
  span.glyphicon.glyphicon-remove.c-p.avatar-remove.top.right ng-click="remove()"
  input ng-model="remove_avatar" type="hidden"
