<div class="bg-light lter b-b wrapper-md ng-scope">
  <h1 class="m-r-md inline media-middle font-thin h3">
    Dashboard
  </h1>
</div>
<div class="wrapper-md">
  <div class="row" ng-if="currentUser.user_group == &#39;admin&#39;">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <table class="table table-striped m-b-none table-layout-fixed">
          <thead>
            <tr>
              <th class="sorting v-top">
                <span class="sort-link c-p" id="id" ng-click="home.sortBy(&#39;id&#39;)"> Id</span>
              </th>
              <th class="sorting v-top">
                <span class="sort-link c-p" id="driver_name" ng-click="home.sortBy(&#39;driver_name&#39;)">Driver name</span>
              </th>
              <th class="sorting v-top">
                <span class="sort-link c-p" id="date" ng-click="home.sortBy(&#39;date&#39;)"> Date</span>
              </th>
              <th class="sorting v-top">
                <span class="sort-link c-p" id="progress" ng-click="home.sortBy(&#39;progress&#39;)"> Progress</span>
              </th>
              <th class="text-right">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="route in home.routes">
              <td>
                <a class="text-info" href="routes/{{ route.id }}">{{ route.id }}</a>
              </td>
              <td>
                {{ route.user.name }} {{ route.user.last_name}}
              </td>
              <td>
                {{ route.date | amDateFormat:'MM.DD.YYYY' }}
              </td>
              <td>
                <uib-progressbar animate="false" type="success" value="route.progress"><b> {{ route.progress }} %</b></uib-progressbar>
              </td>
              <td class="text-right">
                <a class="v-middle mr-5" href="/routes/{{ route.id }}/edit" tooltip-placement="top-right" uib-tooltip="Edit route"><i class="icon-pencil c-p f-z-15 color-green"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" ng-if="currentUser.user_group != &#39;admin&#39;">
    <div class="col-xs-12">
      <div class="panel no-border" ng-if="home.points.length">
        <div class="panel-heading wrapper b-b b-light">
          <a class="pull-right text-info" href="/routes"> Go to routes page</a>
          <h4 class="m-t-none m-b-none">
            Current routes
          </h4>
        </div>
        <div>
          <table class="table table-striped m-b-none">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Store
                </th>
                <th>
                  Address
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="point in home.points">
                <td>
                  {{ point.id }}
                </td>
                <td>
                  {{ point.store.name }}
                </td>
                <td>
                  {{ point.store.address }}
                </td>
                <td>
                  <i class="fa fa-circle m-r-xs m-l-sm" ng-class="{&#39;text-success&#39; : point.status == 1, &#39;text-danger&#39; : point.status == 0}"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel no-border" ng-if="!home.points.length">
        <div class="panel-heading wrapper b-b b-light">
          <h4 class="m-t-none m-b-none">
            You have no route...
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-right">
      <pagination items="home.routes" pagi-api-url="home.pagiApiUrl" pagi-arr="home.pagiArr"></pagination>
    </div>
  </div>
  <div class="panel b-a">
    <div class="panel-heading b-b b-light">
      <span class="text-u-c">Map</span>
    </div>
    <div class="panel-body">
      <div id="map"></div>
    </div>
  </div>
</div>
