<input
    type="file"
    style="position: absolute; clip: rect(0px 0px 0px 0px);"
    data-icon="false"
    id="{{ attrId }}"
    name="{{ attrName }}"
    >
<div class="bootstrap-filestyle input-group">
    <input type="text" class="form-control " disabled="">
    <span class="group-span-filestyle input-group-btn" tabindex="0">
        <label for="{{ attrId }}" class="btn btn-default ">
            <span class="glyphicon glyphicon-folder-open margin-right-5"></span>
        Choose file
        </label>
    </span>
</div>