@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?d8z68m');
    src:    url('/fonts/icomoon.eot?d8z68m#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?d8z68m') format('truetype'),
    url('/fonts/icomoon.woff?d8z68m') format('woff'),
    url('/fonts/icomoon.svg?d8z68m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

