/**
* ----------------------------------------------------------------------------------------------------
* MIXINS
* ----------------------------------------------------------------------------------------------------
*/

@custom-selector :--hoverous :hover, :active, :focus;

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/

button i {
    margin-right: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-right-5 {
    margin-right: 5px;
}

.f-z-20 {
    font-size: 20px;
}

.color-red {
    color: $red;
}

.c-p {
    cursor: pointer;
}

// Avatar remove directive
.avatar-remove {
    color: $red;
    position: absolute;
    top: 0;
    right: -9px;
}


