/**
* ----------------------------------------------------------------------------------------------------
* MIXINS
* ----------------------------------------------------------------------------------------------------
*/

@custom-selector :--hoverous :hover, :active, :focus;

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

textarea {
    resize: none;
}

.table-layout-fixed {
    table-layout: fixed;
}

button i {
    margin-right: 5px;
}

.t-2 {
  top: 2px;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-right-5 {
    margin-right: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}
.f-z-15 {
    font-size: 15px;
}
.f-z-20 {
    font-size: 20px;
}

.color-red {
    color: $red;
}

.color-green {
    color: $green;
}

.c-p {
    cursor: pointer;
}

// Avatar remove directive
.avatar-remove {
    color: $red;
    position: absolute;
    top: 0;
    right: -9px;
}

// Table sortable link
.sort-link {
    display: block;
    background: url('/images/sort_both.png') no-repeat center right;
}

.sort-link.active-asc {
    background: url('/images/sort_asc.png') no-repeat center right;
}

.sort-link.active-desc {
    background: url('/images/sort_desc.png') no-repeat center right;
}

// Maps
#map {
    height: 700px;
}
#route-map {
    height: 500px;
}

.marker-content {
    font-size: 16px;
    font-weight: bold;
}