aside.aside {
    width: 250px;
    height: 100%;
    float: left;
    background: $sidebar_bg;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.aside__user {
    padding: 20px;
    overflow: hidden;
}

.aside__user__avatar__img {
    size: 36px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}

.aside__user__info {
    float: left;
    display: inline-block;
    overflow: hidden;
}

.aside__user__info__name {
    margin-bottom: 7px;
    margin-top: 2px;
    color: $white;
    font-weight: 500;
}

.aside__user__info__location__icon {
    @include icon;
    //@include icon-location;
    float: left;
    margin-right: 8px;
    color: rgba(255, 255, 255, .8);
}

.aside__user__info__location__text {
    display: inline-block;
    color: rgba(255, 255, 255, .8);
    float: left;
}

.aside__user__settings__icon {
    @include icon;
    //@include icon-settings;
    float: right;
    cursor: pointer;
    font-size: 18px;
    color: $white;
    margin-top: 8px;

    &:hover {
        opacity: .9;
    }
}

.aside__nav__item {
    padding: 12px 20px;
    cursor: pointer;

    &:--hoverous {
        background: rgba(0,0,0, .1);
        .aside__nav__item__text {
            color: $white;
        }
    }
}

.aside__nav__item__text {
    color: $white;
    font-weight: 500;
    display: block;
    color: rgba(255, 255, 255, .75);
    font-size: 14px;
    line-height: 22px;
}

.aside__nav__item__icon {
    @include icon;
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    float: left;
    margin-right: 10px;
}

.aside__nav__item__icon__home {
    @include icon-home;
}

.aside__nav__item__icon__accounts {
    @include icon-user;
}

.aside__nav__item__icon__contacts {
    @include icon-address-book;
}

.aside__nav__item__icon__tasks {
    @include icon-tasks;
}

