// Colors
$white: #fff;
$black: #000;
$gray: #e3e3e3;
$green: #4CAF50;
$orange: #FF7043;
$header_bg: #37474F;
$sidebar_bg: #263238;
$red: #f05050;
$red_bold: #a94442;

// Fonts
$main_font: 'Roboto', sans-serif;

