.app.app-header-fixed.pos-rlt
  i.fa.fa-spinner.fa-spin.fa-spin-3x.fa-3x.fa-fw.forgot-password__spinner ng-if="forgotPassword.spinnerDone"
  .container.w-xl.w-auto-xs
    a.navbar-brand.block.m-t href="/" CRM System
    .m-b-lg ng-show="!forgotPassword.successSendingEmail"
      .wrapper.text-center
        strong Input your email to reset your password
      form name="newForm" ng-submit="forgotPassword.restorePassword()"
        .list-group.list-group-sm
          .list-group-item
            input.form-control.no-border [
              type="email"
              ng-model="forgotPassword.email"
              placeholder="Email"
            ]
          span.help-block [
            ng-if="forgotPassword.error.email"
            ng-class="{'color-red--bold': forgotPassword.error.email}"
          ]
            strong  {{forgotPassword.error.email[0]}}
        button.btn.btn-lg.btn-primary.btn-block type="submit" Send

    p.alert.alert-danger ng-show="forgotPassword.successSendingEmail"
      | Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address.