.container.margin-top-50
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default ng-show="!resetPassword.successRestorePassword"
        h3.panel-heading Reset password
        .panel-body
          form.form-horizontal name="restorePasswordForm" ng-submit="resetPassword.restorePassword(restorePasswordForm)"
            .form-group ng-class="{'has-error': resetPassword.error.password}"
              label.col-md-4.control-label New password
              .col-md-6
                input.form-control [
                  type="password"
                  ng-model="resetPassword.password"
                ]
                span.help-block ng-if="resetPassword.error.password"
                  strong
                    | {{resetPassword.error.password[0]}}

            .form-group
              label.col-md-4.control-label Confirm new password
              .col-md-6
                input.form-control [
                  type="password"
                  ng-model="resetPassword.password_confirmation"
                ]

            .form-group
              .col-md-6.col-md-offset-4
                button.btn.btn-primary type="submit"  Save password
      .alert.alert-success.text-center ng-show="resetPassword.successRestorePassword"
        | The Password was successfully saved.
        a.reset-password__link href="/user/sign_in" Login






