.container
  .row
    .col-md-6.col-md-offset-3
      .alert.alert-success.margin-top-25
        div
          .text-center.f-z-18
            | Please check your email to confirm your account.
            a.reset-password__link href="/user/sign_in" Login
