<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-b-sm font-thin h3">
    Edit "{{store.data.name}}" store
  </h1>
  <a class="btn btn-default" href="/stores"><i aria-hidden="true" class="fa fa-long-arrow-left mr-3"></i>Back</a>
</div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" ng-submit="store.update()">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3 m-t-xs">
                <span class="text"><i class="fa fa-building-o text mr-3"></i>Name:</span>
              </div>
              <div class="col-md-7" ng-class="{&#39;has-error&#39;: store.error.name}">
                <input class="form-control" ng-model="store.data.name" type="text" /><span class="help-block" ng-if="store.error.name"><strong>{{store.error.name[0]}}</strong></span>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3 m-t-xs">
                <span class="text"><i class="fa icon-user text mr-3"></i>Owner name:</span>
              </div>
              <div class="col-md-7" ng-class="{&#39;has-error&#39;: store.error.ownerName}">
                <input class="form-control" ng-model="store.data.owner_name" type="text" /><span class="help-block" ng-if="store.error.ownerName"><strong>{{store.error.ownerName[0]}}</strong></span>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3 m-t-xs">
                <span class="text"><i class="fa icon-map text mr-3"></i>Address:</span>
              </div>
              <div class="col-md-7" ng-class="{&#39;has-error&#39;: store.error.address}">
                <input autocomplete="off" class="form-control" ng-model="store.data.address" type="text" typeahead-loading="loadingLocations" typeahead-no-results="noResults" uib-typeahead="address for address in getLocation($viewValue)" /><span class="help-block" ng-if="store.error.address"><strong>{{store.error.address[0]}}</strong></span>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3 m-t-xs">
                <span class="text"><i class="fa icon-screen-smartphone text mr-3"></i>Phone:</span>
              </div>
              <div class="col-md-7" ng-class="{&#39;has-error&#39;: store.error.phone}">
                <input class="form-control" mask="9999-999-999" ng-model="store.data.phone" type="text" /><span class="help-block" ng-if="store.error.phone"><strong>{{store.error.phone[0]}}</strong></span>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3 m-t-xs">
                <span class="text"><i class="fa icon-envelope-open text mr-3"></i>Email:</span>
              </div>
              <div class="col-md-7" ng-class="{&#39;has-error&#39;: store.error.email}">
                <input class="form-control" ng-model="store.data.email" type="text" /><span class="help-block" ng-if="store.error.email"><strong>{{store.error.email[0]}}</strong></span>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-xs-7 text-right">
                <button class="btn btn-primary text-u-c" type="submit">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
