<div class="col-sm-4 col-sm-offset-4 page-header">
  <div class="well" ng-show="!forgotPassword.successSendingEmail">
    <h3>
      Reset Password
    </h3>
    <p>
      Enter your email address below and we'll send you a link to reset your password.
    </p>
    <form name="newForm" ng-submit="forgotPassword.restorePassword()">
      <div class="form-group">
        <input class="form-control" ng-model="forgotPassword.email" ng-required="true" placeholder="Email" type="email" />
      </div>
      <div class="alert alert-danger" ng-if="forgotPassword.emailErrorText">
        {{ forgotPassword.emailErrorText }}
      </div>
      <button class="btn btn-primary" type="submit">Reset password</button>
    </form>
  </div>
  <p ng-show="forgotPassword.successSendingEmail">
    Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address.
  </p>
</div>
