<div class="app app-header-fixed pos-rlt">
  <i class="fa fa-spinner fa-spin fa-spin-3x fa-3x fa-fw forgot-password__spinner" ng-if="forgotPassword.spinnerDone"></i>
  <div class="container w-xl w-auto-xs">
    <a class="navbar-brand block m-t" href="/">CRM System</a>
    <div class="m-b-lg" ng-show="!forgotPassword.successSendingEmail">
      <div class="wrapper text-center">
        <strong>Input your email to reset your password</strong>
      </div>
      <form name="newForm" ng-submit="forgotPassword.restorePassword()">
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input class="form-control no-border" ng-model="forgotPassword.email" placeholder="Email" type="email" />
          </div>
          <span class="help-block" ng-class="{&#39;color-red--bold&#39;: forgotPassword.error.email}" ng-if="forgotPassword.error.email"><strong> {{forgotPassword.error.email[0]}}</strong></span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
      </form>
    </div>
    <p class="alert alert-danger" ng-show="forgotPassword.successSendingEmail">
      Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address.
    </p>
  </div>
</div>
