<div class="container margin-top-50">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default" ng-show="!resetPassword.successRestorePassword">
        <h3 class="panel-heading">
          Reset password
        </h3>
        <div class="panel-body">
          <form class="form-horizontal" ng-submit="resetPassword.restorePassword()">
            <div class="form-group" ng-class="{&#39;has-error&#39;: resetPassword.error.password}">
              <label class="col-md-4 control-label">New password</label>
              <div class="col-md-6">
                <input class="form-control" ng-model="resetPassword.password" type="password" /><span class="help-block" ng-if="resetPassword.error.password"><strong>{{resetPassword.error.password[0]}}</strong></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Confirm new password</label>
              <div class="col-md-6">
                <input class="form-control" ng-model="resetPassword.password_confirmation" type="password" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button class="btn btn-primary" type="submit"> Save password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="alert alert-success text-center" ng-show="resetPassword.successRestorePassword">
        The Password was successfully saved.<a class="reset-password__link" href="/user/sign_in">Login</a>
      </div>
    </div>
  </div>
</div>
