<div class="container margin-top-50">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <h3 class="panel-heading">
          Login
        </h3>
        <div class="panel-body">
          <form class="form-horizontal" ng-submit="auth.login()">
            <div class="form-group" ng-class="{&#39;has-error&#39;: auth.error.email || auth.error.error}">
              <label class="col-md-4 control-label">E-Mail Address</label>
              <div class="col-md-6">
                <input class="form-control" ng-model="auth.email" placeholder="Email" type="email" /><span class="help-block" ng-if="auth.error.email"><strong>{{auth.error.email[0]}}</strong></span>
              </div>
            </div>
            <div class="form-group" ng-class="{&#39;has-error&#39;: auth.error.password || auth.error.error}">
              <label class="col-md-4 control-label">Password</label>
              <div class="col-md-6">
                <input class="form-control" ng-model="auth.password" placeholder="Password" type="password" /><span class="help-block" ng-if="auth.error.password"><strong>{{auth.error.password[0]}}</strong></span>
              </div>
            </div>
            <div class="form-group" ng-class="{&#39;has-error&#39;: auth.error.error}" ng-if="auth.error.error">
              <div class="col-md-6 col-md-offset-4">
                <span class="help-block"><strong>{{auth.error.error}}</strong></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button class="btn btn-primary" type="submit"><i class="fa fa-btn fa-sign-in"></i>Login</button><a class="btn btn-link" href="/user/forgot_password"> Forgot Your Password?</a>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <p class="text-center">
                  <small>Do not have an account?</small>
                </p>
                <a class="btn btn-lg btn-default btn-block" href="/user/sign_up"> Create an account</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
